<?xml version="1.0" encoding="utf-8"?>
<Autodiscover xmlns="http://schemas.microsoft.com/exchange/autodiscover/responseschema/2006">
  <Response xmlns="http://schemas.microsoft.com/exchange/autodiscover/outlook/responseschema/2006a">
    <Account>
      <AccountType>email</AccountType>
      <Action>settings</Action>
      <Protocol>
        <Type>IMAP</Type>
        <Server>{{ .Host | xmlesc }}</Server>
        <Port>{{ .IMAPPort }}</Port>
        <SSL>on</SSL>
        <Encryption>SSL</Encryption>
        <SPA>off</SPA>
      </Protocol>
      <Protocol>
        <Type>SMTP</Type>
        <Server>{{ .Host | xmlesc }}</Server>
        <Port>{{ .SMTPPort }}</Port>
        <SSL>on</SSL>
        <Encryption>TLS</Encryption>
        <SPA>off</SPA>
      </Protocol>
    </Account>
  </Response>
</Autodiscover>
